<div lang="en" th:include="header"> </div>
<body class="center">
	<h1>User Form</h1>
    <hr style='margin-bottom: 50px;'/>
    <form action="#" th:action="@{/users}" th:object="${userform}" method="post">
        <div class="form-group">
            <label>Firstname</label>
            <input required th:field="*{firstname}" autocomplete="off" type="text" class="form-control"  placeholder="Enter firstname">
        </div>
        <div class="form-group">
            <label>Lastname</label>
            <input required th:field="*{lastname}" type="text"  autocomplete="off" class="form-control"  placeholder="Enter lastname">
        </div>
        <div class="form-group">
            <label>Email address</label>
            <input required th:field="*{email}" type="email"  class="form-control" placeholder="Enter email">
        </div>
        <div class="form-group">
            <label>Address</label>
            <textarea required th:field="*{address}" type="address"  class="form-control" placeholder="Enter address"></textarea>
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</body>
</html>